[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://github.com/FCCLab/openairinterface5g.git
[submodule "cuBB"]
	path = cuBB
	url = https://github.com/FCCLab/cuBB.git
[submodule "quectel"]
	path = quectel
	url = https://github.com/FCCLab/quectel.git
[submodule "cuBB_docs"]
	path = cuBB_docs
	url = https://github.com/FCCLab/cuBB_docs.git
