[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://github.com/FCCLab/openairinterface5g.git
[submodule "cuBB"]
	path = cuBB
	url = https://github.com/FCCLab/cuBB.git
[submodule "kobuki"]
	path = kobuki
	url = https://github.com/tuannv-github/kobuki.git
[submodule "quectel"]
	path = quectel
	url = https://github.com/FCCLab/quectel.git
